.header{
    background: $off-black;
    color: white;
    margin-bottom: $xl-size;
    padding: $m-size 0;
}

//BEM block element modifier
.header__title {
    font-size: $l-size;;
    margin: 0;
}

.header__subtitle{
    color: #a5afd7;
    font-size: $m-size;
    font-weight: 500;
    margin: 0;
}

@media (max-width: $desktop-breakpoint) {
    .header {
        margin-bottom: $m-size;
    }

}