//widget

.widget{
    background: $light-blue;
    margin-bottom: $xl-size;
}

.widget__message{
    color: $off-white;
    margin: 0;
    padding: $l-size;
    text-align: center;
    border-bottom: 0.1rem solid border lighten($color: $light-blue, $amount: 10%)
}


//widget header

 

.widget-header{
    background: $blue;
    color: $off-white;
    display: flex;
    justify-content: space-between;
    padding:$m-size;
}


.widget-header__title{
    margin: 0;
}